<h1>Estados</h1>
<h2>Todos os Registros</h2>

<div>
  <%= link_to "Criar Novo Estado", 'states/new', class: "btn btn-primary" %>
</div>
<br>
<div>
  <table class="table table-bordered table-striped table-hover">
    <thead>
    <tr>
      <th>ID</th>
      <th>Nome</th>
      <th>Sigla</th>
    </tr>
    </thead>
    <tbody>
    <% @states.each do |state| %>
        <tr>
          <td><%= state.id %></td>
          <td><%= state.name %></td>
          <td><%= state.acronym %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>
<%= will_paginate @states %>