<h1>Estados</h1>
<h2>Novo Registro</h2>

<%= form_for(@city) do |f| %>

    <%= render 'shared/error_messages', object: f.object %>
    <%= f.label :name, "Nome" %>
    <%= f.text_field :name %>

    <%= f.label :state_id, "Estado" %>
    <%= f.select :state_id, State.all.map {|s| [s.name, s.id]} %>

    <br>
    <%= f.submit "Criar", class: "btn btn-primary" %>

<% end %>